body {
    font-family: Arial, sans-serif;
    background-color:rgb(172, 108, 118);
}

h1 {
    color: #8cb3e6;
    text-align: center;
    padding: 20px;
}
h2{
   color :rgb(121, 150, 204);
   text-align :center


}
h5{
    text-align:center;
}

